@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* Para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
    transition: width 0.3s ease; /* Transición para el ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Color azul para el thumb (la parte que puedes arrastrar) */
    border-radius: 6px; /* Bordes redondeados */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Transiciones para el color y los bordes del thumb */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color del track (la parte del fondo) */
    border-radius: 6px; /* Bordes redondeados */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Transiciones para el color y los bordes del track */
}
/* Para firefox */
::-moz-scrollbar {
    width: 10px;
    transition: width 0.3s ease;
}

::-moz-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

::-moz-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}



/* VARIABLES */
:root {
    --primary-color: #aac210; /*c04ae2*/
    --secondary-color: #294159;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}

/* RESET DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.btn {
    display: inline-block;
    max-width: max-content;
    padding: 0.7rem 1.8rem;
    border-radius: 0.35rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #294159;
}

/* .btn-secondary {
    border: 1px solid var(--primary-color);
} */

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}


.btn-secondary {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    overflow: hidden;
    border: 2px solid var(--primary-color); /* Color del borde */
}

.btn-secondary::before,
.btn-secondary::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--primary-color); /* Color de la línea */
    transition: width 0.3s ease-out;
    z-index: -1;
}

.btn-secondary::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.btn-secondary::after {
    bottom: 0;
    right: 0;
    transform-origin: right;
}

.btn-secondary:hover::before,
.btn-secondary:hover::after {
    width: 100%;
}


.section-subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-heading {
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.section-heading.left {
    margin-right: auto;
}

.section-heading.right {
    margin-left: auto;
}



/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary-color);
}

section {
    position: relative;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

}

/* HEADER */
header {
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__logo img {
    width: 130px;
}

.header__menu {
    gap: 1rem;
}

.header__menu li a {
    font-size: 0.8rem;
    font-weight: 600;
    transition: colors;
}

.header__menu li a:hover {
    color: var(--primary-color);
}

header .right {
    gap: 1rem;
}

.menu-btn {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.hero__img {
    width: 60%;
}


/* ABOUT */
#hero {
    min-height: 100vh;
}

.hero__content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero__content p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.hero__img {
    height: 100%;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

/* ABOUT */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature {
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid var(--color);
}

.feature__icon {
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 1rem;
}

.feature__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature__text {
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
    /* color: #5cadd8; */
}

.about__details {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.about__details-content {
    width: 50%;
}

.about__details-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__details-content p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8rem;
}

.about__details-content .btn {
    margin-top: 1rem;
}

.about__details-img {
    width: 50%;
}

/* SERVICES */
#services .section-subheading,
#services .section-heading {
    text-align: right;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.service {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service__icon img {
    width: 50px;
    margin-bottom: 1rem;
}

.services__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.service__text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
}

.arrow-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 0.8rem;
    background: #ffffff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.service .arrow-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: auto;
    transition: transform 0.3s;
}

.service:hover .arrow-icon {
    transform: translateX(5px);
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
}

.project {
    display: flex;
    gap: 10%;
    align-items: center;
}

.project:nth-child(2) {
    flex-direction: row-reverse;
}

.project__img {
    position: relative;
    min-width: 35%;
}

.project__img::after {
    content: "";
    position: absolute;
    top: -20px;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    z-index: 1;
    border: 4px solid #f1e8ed;
}

.project:nth-child(1) .project__img::after,
.project:nth-child(3) .project__img::after {
    left: -20px;
}

.project:nth-child(2) .project__img::after {
    right: -20px;
    border-color: #6bc2ed;
}

.project:nth-child(3) .project__img::after {
    border-color: #fed440;
}

.project__category {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.project__title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.project__text {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

/* TEAM */
.team-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.team-box {
    width: 240px;
    height: 240px;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-box img {
    width: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 12px;
    transition: .5s;
}

.team-box h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #aac210; /*#2196f3;*/
}

small{
    color: #555;
}

.social-box {
    background-color: #aac210; /*#2196f3;*/
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 12px;
    padding: 5px;
}

.social-box .on {
    margin: 5px;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.social-box .on:hover {
    transform: scale(2.0);
}

.team-box p {
    text-align: center;
    line-height: 24px;
    color: #555;
}

.team-box img:hover {
    width: 200px;
}

.team-box:hover {
    background: linear-gradient(to right, #aac210, rgb(210, 216, 25)); /*#2196f3;*/
}


.team-box:hover h4 {
    color: #fff;
}

.team-box:hover p {
    color: #efefef;
}

.team-box:hover small {
    color: #efefef;
}

.team-box:hover .social-box {
    background: #fff;
}

.team-box:hover .on {
    color: #aac210; /*#2196f3;*/
}

.team-box:hover {
    color: linear-gradient(to right, #aac210, #f3fa22); /*#2196f3, #00bcd4*/
}


/* TESTIMONIALS */
#testimonials {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#testomonials .section-subheading {
    margin-bottom: 2rem;
}

.testimonials-wrapper {
    position: relative;
    width: 70%;
}

.quotes {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.testimonial__title {
    font-size: 2rem;
    padding-left: 6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.testimonial__text {
    opacity: 0.8;
    margin-bottom: 3rem;
    text-align: justify;
    text-justify: inter-word;
}

.testimonials__img img {
    max-height: 500px;
}

.testimonial__author {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial__author h3 {
    margin: 0;
}

.testimonial__author p {
    color: rgb(95, 95, 95);
    font-size: 0.8rem;
    font-weight: 600;
}

.testimonial__author::before {
    content: "";
    width: 15px;
    transform: translateY(-70%);
    border-bottom: 1px solid #111111;
}

.testimonial-navigation {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.testimonial-navigation span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s;
}

.testimonial-navigation span.active {
    width: 30px;
}

/* CONTACT */

.contact {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form input,
.contact__form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact__form textarea {
    resize: vertical;
}

.contact__details {
    width: 50%;
}

.contact__details .text {
    font-size: 0.9rem;
    color: #2e2e2e;
    margin-bottom: 2rem;
}

.contact__details .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__details .detail {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.detail__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8rem;
    background: #fe6686;
}

.detail:nth-child(2) .detail__icon {
    background: #54d6a1;
}

.detail:nth-child(3) .detail__icon {
    background: #fe9a3f;
}

.detail__content h3 {
    margin: 0;
    line-height: 1;
}

.detail__content p {
    color: #747474;
    font-size: 0.9rem;
}

/* FOOTER */
footer{
    padding: 2rem 0;
}

.footer__content {
    display: grid;
    gap: 5rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer__logo {
    width: 100px;
    margin-bottom: 1rem;
}

.footer__text {
    font-size: 0.9rem;
    color: #747474;
    margin-bottom: 1rem;
}

.footer__newletter {
    position: relative;
}

.footer__newletter input {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #f3f9fb;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer__newletter .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: #747474;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #747474;
    margin-top: 3rem;
}

.footer__bottom-icons {
    display: flex;
    gap: 1rem;
}

.facebook {
    color: #3b5998;
}

.twitter {
    color: #00acee;
}

.instagram {
    color: #e4405f;
}

.whatsapp {
    color: rgb(49, 155, 93);
}

/* MISION Y VISION */

.heading__mis {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
}

.heading__mis h1 {
    font-size: 50px;
    color: var(--secondary-color);
    margin-bottom: 25px;
    position: relative;   
}

.heading__mis h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
}

.heading__mis p {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 35px;
}

.container__mis {
    width: 90%;
    margin: 0 auto;
    margin-top: -80px;
    padding: 10px 20px;
}

/* Estilos comunes para .about__mis */
.about__mis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__mis-content {
    flex: 1;
}

.about__mis-image {
    flex: 1;
    overflow: hidden;
}

/* Estilos específicos para .im1 */
.about__mis .im1 {
    margin-right: 40px;
}

/* Estilos específicos para .im2 */
.about__mis .im2 {
    margin-left: 40px;
}

.about__mis-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    border-radius: 5px;
}

.about__mis-image:hover img {
    transform: scale(1.2);
}

.about__mis-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
    background: linear-gradient(90deg, #65eb0c, #ffea00 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s;
}

.about__mis-content h2:hover {
    background-position: 0%;
}

.about__mis-content p {
    font-size: 21px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
    text-justify: inter-word;
}

.mis {
    margin-left: 30px;
}

.vis {
    margin-right: 30px;
}

@media screen and (max-width: 768px){
    .heading__mis {
        padding: 0px 20px;   
    }
    .heading__mis h1 {
        font-size: 36px;
    }
    .heading__mis p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container__mis {
        padding: 0px;
        margin-top: -60px;
    }

    .about__mis {
        flex-direction: column;
    }

    .about__mis-image {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        order: 2;
    }

    .about__mis-content p {
        padding: 0px;
        font-size: 18px;
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 20px;
    }
    .mis {
        margin-left: 0px;
    }
}

/* VALORES */


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    /* GLOBAL */
    .container {
        padding: 0 1rem;
    }

    .section {
        padding-top: 2rem !important;
        padding-bottom: 3rem !important;
    }

    .section-heading{
        font-size: 2rem;
    }
    
    /* HEADER */
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .header__menu.show {
        transform: translateX(0);
    }

    .header__menu li {
        margin: 1rem 0;
    }
    .menu-btn {
        display: block;
        z-index: 99;
    }

    /* HERO */
    #hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero__content {
        width: 100%;
        text-align: center;
    }

    .hero__content h1 {
        font-size: 4.5rem;
    }

    .hero__content .btn {
        margin: 0 auto;
    }

    .hero__img {
        width: 100%;
        margin-top: 40px;
    }

    /* ABOUT */
    .features {
        grid-template-columns: repeat(1fr);
    }

    .feature {
        padding: 1rem;
    }

    .about__details {
        flex-direction: column;
    }

    .about__details-content,
    .about__details-img {
        width: 100%;
    }

    .about__details-content p {
        font-size: 1rem;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.6rem;
    }

    /* PROJECTS */
    .project {
        flex-direction: column !important;
        gap: 2rem;
    }

    .project__img {
        width: 100%;
        max-width: 300px;
    }

    .project__title {
        font-size: 1.5rem;
    }

    .project__text {
        font-size: 0.9rem;
        text-align: justify;
        text-justify: inter-word;
    }

    /* TEAM */
    /* Add media query for tablets and smaller screens */
    @media (max-width: 768px) {
        .team-box {
            max-width: 100%; /* Full width for smaller screens */
        }
    }

    /* Add media query for phones and smaller screens */
    @media (max-width: 576px) {
        .team-row {
            width: 100%; /* Full width for smaller screens */
        }
    }

    /* TESTIMONIALS */
    .testimonials__img {
        display: none;
    }

    .testimonials-wrapper {
        width: 100%;
    }

    /* CONTACT */
    .contact {
        flex-direction: column;
    }

    .contact__form,
    .contact__details {
        width: 100%;
    }

    /* FOOTER */
    .footer__content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }

}


